<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>Now you can stalk anyone on instagram!</h1>
			<p>Welcome to Insta Stalker</p>
			<div class="row">
				<p>Instagram pictures go here!</p>
			</div>
		</div>
		
	
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>